input {
  display:block;
}
.row {
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
}
.panel {
  flex: 50%;
  border-radius: 10px;
  padding: 0 5px 3px 5px;
}
.panel h1 {
  margin: 0 auto;
}
td img {
  cursor: pointer;
}
#addWord {
  background-color: #C0F0C0;
}
#removeWord {
  background-color: #F0C0C0;
}
.dictDisplay {
  margin: 0;
  border-radius: 10px;
  background-color: #F0F0A0;
}
table {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
